<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,61}</string>
                <key>spriteSourceSize</key>
                <string>{454,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{454,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charWindow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{1,292},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>copyErasePlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{95,29}</string>
                <key>spriteSourceSize</key>
                <string>{109,29}</string>
                <key>textureRect</key>
                <string>{{102,292},{95,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>copyPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{95,14}</string>
                <key>spriteSourceSize</key>
                <string>{109,16}</string>
                <key>textureRect</key>
                <string>{{102,341},{95,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,1}</string>
                <key>spriteSourceSize</key>
                <string>{208,1}</string>
                <key>textureRect</key>
                <string>{{1,289},{208,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptyHeart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,7}</string>
                <key>spriteSourceSize</key>
                <string>{8,7}</string>
                <key>textureRect</key>
                <string>{{199,292},{8,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erasePlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{95,13}</string>
                <key>spriteSourceSize</key>
                <string>{109,13}</string>
                <key>textureRect</key>
                <string>{{374,321},{95,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{457,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{457,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullHeart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,7}</string>
                <key>spriteSourceSize</key>
                <string>{8,7}</string>
                <key>textureRect</key>
                <string>{{102,357},{8,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oneTwoThree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,77}</string>
                <key>spriteSourceSize</key>
                <string>{12,77}</string>
                <key>textureRect</key>
                <string>{{214,337},{12,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{110,18}</string>
                <key>textureRect</key>
                <string>{{102,323},{110,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerSelectBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,223}</string>
                <key>spriteSourceSize</key>
                <string>{255,223}</string>
                <key>textureRect</key>
                <string>{{1,64},{255,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>registerName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,14}</string>
                <key>spriteSourceSize</key>
                <string>{158,14}</string>
                <key>textureRect</key>
                <string>{{214,321},{158,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>registerPlayerName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,223}</string>
                <key>spriteSourceSize</key>
                <string>{255,223}</string>
                <key>textureRect</key>
                <string>{{258,64},{255,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>charSelect.png</string>
            <key>size</key>
            <string>{482,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:187179e326f135d9938b0ca28d2770e8:4705312f7f2de338f173e0b9ba8c2d5b:4bc4aa563a639c2112441242d259ce53$</string>
            <key>textureFileName</key>
            <string>charSelect.png</string>
        </dict>
    </dict>
</plist>
