<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,121}</string>
                <key>spriteSourceSize</key>
                <string>{168,121}</string>
                <key>textureRect</key>
                <string>{{258,1},{168,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,142}</string>
                <key>spriteSourceSize</key>
                <string>{255,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nintendo-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,8}</string>
                <key>spriteSourceSize</key>
                <string>{103,8}</string>
                <key>textureRect</key>
                <string>{{258,124},{103,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>intro-spriteMap.png</string>
            <key>size</key>
            <string>{427,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a30fe91be57b36121587784834f2399:3d258d4706494cbd896a5818ba5d760e:bc0b7025aa536e611592a65759617e0f$</string>
            <key>textureFileName</key>
            <string>intro-spriteMap.png</string>
        </dict>
    </dict>
</plist>
